<%- include("partials/head.ejs") %>

<% if (locals.user) { %>
<%- include("partials/headerLogueado.ejs") %>
<% } else { %>
<%- include("partials/header.ejs") %>
<% } %>

<!-- Index-->
<div class="banner">
	<img src="images/jordan/bannerNuevo.jpg" alt="Banner de ofertas">
</div> <br><br><br><br><br><br><br>

<!-- Ultimos lanzamientos -->
<div class="container products-wrapper">
	<div class="row">

		<div class="col-12">
			<h2 class="products-title">ULTIMOS LANZAMIENTOS</h2>
		</div>

		<!-- Show ultimos lanzamientos -->
		<% for (let i=0; i < 4; i+=1 ) { %>
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/products/detail/<%= productos[i].id %>">
					<figure class="product-box_image">
						<img src="<%= productos[i].imagen %>">
					</figure>
					<article class="product-box_data">
						<h2> <%= productos[i].Nombre %> </h2>
						<a class="creadopor" href="/users/profileOthers/<%= productos[i].Usuario.id %>"> Creado por
							<%= productos[i].Usuario.nombre %></a>
						<p> <%= productos[i].descripcion %> </p>
					</article>
				</a>
			</section>
		</div>
		<% } %>

	</div>
</div>

<!-- Ultimos comentados -->
<div class="container products-wrapper">
	<div class="row">

		<div class="col-12">
			<h2 class="products-title">ULTIMOS COMENTADOS</h2>
		</div>

		<!-- Show ultimos comentados -->
		<% for (let i=0; i < 4; i+=1 ) { %>
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/products/detail/<%= comentarios[i].id %>">
					<figure class="product-box_image">
						<img src="<%= comentarios[i].imagen %>">
					</figure>
					<article class="product-box_data">
						<h2> <%= comentarios[i].Nombre %> </h2>
						<a class="creadopor" href="users/profileOthers/<%= productos[i].Usuario.id %>"> Creado por
							<%= productos[i].Usuario.nombre %></a>
						<p> <%= comentarios[i].descripcion %> </p>
					</article>
				</a>
			</section>
		</div>
		<%}%> 

	</div>
</div> 

<%- include("partials/footer.ejs") %>