<%- include("partials/head.ejs") %> 

<% if (locals.user) { %>
	<%- include("partials/headerLogueado.ejs") %> 
	<% } else { %>
	<%- include("partials/header.ejs") %>  
	<% } %> 

	<!-- Iniciar sesion -->
<div class="container products-wrapper">
	<div class="row">
		
		<div class="col-12">
			<h2 class="products-title">Iniciar sesión</h2>
		</div>

		<% if(locals.errors){ %>
			<p class="alert" > <%= errors.login %><p>
		<% } %>

	<!-- Formulario iniciar sesion -->
	 <form action="/login" method="POST"> <br>

			<div class="mb-3">
			  <label for="exampleInputEmail1" class="form-label">Nombre de usuario</label>
			  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" placeholder="Nombre" required>
			  <div id="emailHelp" class="form-text"></div>
			</div> <br>

			<div class="mb-3">
			  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
			  <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Contraseña" required>
			</div><br>

			<div class="mb-3 form-check">
			  <input type="checkbox" class="form-check-input" id="exampleCheck1">
			  <label class="form-check-label" for="exampleCheck1">Acepto terminos y condiciones</label>
			</div>

			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1" name="rememberme">Recordame</label>
			  </div>

			<div class="col-12" id="enviar2">
				<button class="btn btn-primary" type="submit">
				Enviar
				</button>
			</div>

		</form>

	</div>
</div>

<%- include("partials/footer.ejs") %> 

