<%- include("partials/head.ejs") %>

<% if (locals.user) { %>
<%- include("partials/headerLogueado.ejs") %>
<% } else { %>
<%- include("partials/header.ejs") %>
<% } %>

<%console.log(producto.Comentarios[0])%>

<div class="container products-wrapper">

	<div class="d-flex align-items-center">
		<h2 class="products-title">
			<%= producto.Nombre + ' ' %> 
		</h2>

	</div>
</div>

<div class="container products-wrapper">

	<div class="product-detail">
		<div class="row">

			<article class="col-12 col-lg-8 product-detail-info">
				<img src="<%= producto.imagen %>" alt="" class="product-detail-img">
				<p class="product-detail-description">
					<%= producto.descripcion %>
				</p>
			</article>

			<!-- Comentarios -->
			<div class="col-12 col-lg-4">

				<section class="comments">
					<% for (i = 0; i < producto.Comentarios.length; i++ ) { %>
					<article>
						<a href="/users/profileOthers/<%= producto.Comentarios[i].usuario_id %> ">
							<img src="<%=producto.Comentarios[i].Usuarios.imagen%>" alt="">
						</a>
						<div class="data">
							<p class="user">
								<strong>
									<a href="/users/profileOthers/<%= producto.Comentarios[i].usuario_id %> ">
										<%= producto.Comentarios[i].Usuarios.nombre %></a> </strong>
								<%= producto.Comentarios[i].texto %>
							</p>
						</div>
					</article>
					<% } %>
				</section>

			
					<form class="form" action="/products/comentario/<%=producto.id%>" method="POST">
						<input class="form-input" type="text" name="texto" value="" placeholder="Agregar comentario">
						<br>
					<button type="submit">AGREGAR COMENTARIO</button>
					</form> <br>
			

			</div>

		</div>
	</div>

</div>

<%- include("partials/footer.ejs") %>