<%- include("partials/head.ejs") %> 

<% if (locals.user) { %>
    <%- include("partials/headerLogueado.ejs") %> 
    <% } else { %>
    <%- include("partials/header.ejs") %>  
    <% } %> 

<div class="card" style="width: 18rem;">
    <!--     <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <h5 class="card-title"><%= resultados.Nombre %></h5>
            <p class="card-text"><span class="badge bg-primary">Descripcion: <%= resultados.descripcion %></span></p>
            <%for(let i = 0; i<resultados.Productos.length; i+=1){ %>
                <p class="card-text"></span class="badge bg-info"><%= resultados.Productos[i].Nombre %></span></p>
             <% } %> <!--muestro los Productos -->
    
    
            <a href="/products" class="btn btn-primary">Volver</a>
            <a href="/products/edit/<%= resultados.id %>" class="btn btn-info">Editar</a>
            <a href="/products/borrar/<%= resultados.id %>" class="btn btn-danger">Borrar</a> 
            <form style="display: inline;" action="/products/detail<%=resultados.id %>" method="POST">
                <button class="btn btn-danger" type="submit">Borrar</button>
            </form>
        </div>
    </div>








<%- include("partials/footer.ejs") %> 