<%- include("partials/head.ejs") %> 

<%- include("partials/header.ejs") %> 

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">
				<%= productos[idSearch].nombre + ' ' %> Modelo <%= productos[idSearch].modelo %>
			</h2> 
			<p class="product-detail-description">
				<a href="/products/productAdd/:id">Agregar producto</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= productos[idSearch].imagen %>"  alt="" class="product-detail-img">
					<p class="product-detail-description"> 
					<%= productos[idSearch].descripcion %> 
					</p> 


				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						
						<% for (i = 0; i < productos[idSearch].comentarios.length; i++ ) { %>
							<article>
								<h2> <%= users[i].id %> </h2>
								<a href="/users/profileOthers/ <%= users [i].id %> ">
								<img src="<%= productos[idSearch].comentarios[i].imagenUsuario %>" alt="">
								</a>
								<div class="data">
									<p class="user">
										<strong> <a href="/users/profileOthers/ <%= users[i].id %>" > <%= productos[idSearch].comentarios[i].usuario %></a> </strong>
										<%= productos[idSearch].comentarios[i].comentario %> 
									</p>
								</div>
							</article>
						<% } %>

					</section>

					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<br>
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>

					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->
	

<%- include("partials/footer.ejs") %> 