<%- include("partials/head.ejs") %> 

<%- include("partials/header.ejs") %> 

<!-- Datos del usuario -->
<section class="info-usuario container products-wrapper">
	<div class="row">
		<div class="img-container offset-3 col-2">
			<img src="<%= users[idSearch].imagenUsuario %>" alt="foto de perfil" class="foto-perfil">
		</div>
		<div class="data-container col-6">
			<div class="d-flex align-items-center ">
				<h1 class="profileinfo"> <%= users[idSearch].nombre + " " + users[idSearch].apellido %> 
				</h1 >
				<a class="btn mt-3 ml-4" id="profileinfo" href="">SEGUIR</a>
			</div>
			<div>
				<ul class="profileinfo">
					<li>4 productos</li>
					<li>250 seguidores</li>
					<li>100 comentarios</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- /Datos del usuario -->

<!-- Mis productos -->
<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class="products-title">Sus productos</h2>
		</div>
		<!-- Show mis productos -->
	
		<% for (i = 4; i < 8; i++ ) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/<%= productos[i].id %>">
						<figure class="product-box_image">
							<img src="<%= productos[i].imagen %>">
						</figure> 
						<article class="product-box_data">
							<h2> <%= productos[i].nombre %> </h2>
							<p> <%= productos[i].modelo %> </p> 
						
		
						</article>
					</a>
				</section> 
			</div> 
			<%}%> 
					
	</div>
</div>



<%- include("partials/footer.ejs") %> 