<%- include("partials/head.ejs") %>

<% if (locals.user) { %>
<%- include("partials/headerLogueado.ejs") %>
<% } else { %>
<%- include("partials/header.ejs") %>
<% } %>

<!-- Datos del usuario -->
<section class="info-usuario container products-wrapper">
	<div class="row">

		<div class="img-container offset-3 col-2">
			<img src="<%=user.imagen%>"
				alt="foto de perfil" class="foto-perfil">
		</div>

		<div class="data-container col-6">

			<div class="d-flex align-items-center ">
				<h1 class="profileinfo"> <%= user.nombre %>
					<a href="/users/profileEdit">
						<i class="fas fa-cog"></i>
					</a>
				</h1>
			</div>

			<div>
				<ul class="profileinfo">
					<% if(user.Productos==0){%>
                        <li>0 productos creados</li>
                    <% }else{%>
						<li><%= user.Productos.length%> productos creados</li>
                        <% }%>
                    <%if(user.Comentarios==0){%>
                        <li>0 comentarios creados</li>
                    <% }else{%>
						<li><%= user.Comentarios.length%> comentarios creados</li>
                        <% }%>
				
				</ul>
			</div>

		</div>

	</div>
</section>

<!-- Mis productos -->
<div class="container products-wrapper">
	<div class="row">

		<div class="col-12">
			<h2 class="products-title">Sus productos</h2>
		</div>
	
		<%console.log (user.Productos[0])%>
		<!-- Show mis productos -->
		<% if (user.Productos.length != 0) { %>
		
			<% for (i = 0; i < user.Productos.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/<%= user.Productos[i].id %>">
							<figure class="product-box_image">
								<img src="<%= user.Productos[i].imagen %>">
							</figure> 
							<article class="product-box_data">
								<h2> <%= user.Productos[i].nombre %> </h2>
								<p> <%= user.Productos[i].descripcion %> </p> 
							
			
							</article>
						</a>
					</section> 
				</div> 
			<%}%> 
			<% } else { %>
	<h1>No tiene productos.</h1>
			<% } %>
					
	</div>
</div>

<%- include("partials/footer.ejs") %>