<%- include("partials/head.ejs") %>

<% if (locals.user) { %>
<%- include("partials/headerLogueado.ejs") %>
<% } else { %>
<%- include("partials/header.ejs") %>
<% } %>

<!-- Datos del usuario -->
<section class="info-usuario container products-wrapper">
	<div class="row">

		<div class="foto-perfil2">
			<img src="<%=users.imagen%>" alt="foto de perfil" class="foto-perfil2">
		</div>

		<div class="data-container col-6">

			<div class="d-flex align-items-center ">
				<h1 class="profileinfo1"> <%= users.nombre %>
				</h1>
			</div>

			<div>
				<ul class="profileinfo">
					<% if(users.Productos==0){%>
					<li>0 productos creados</li>
					<% }else{%>
					<li><%= users.Productos.length%> productos creados</li>
					<% }%>
					<%if(users.Comentarios==0){%>
					<li>0 comentarios creados</li>
					<% }else{%>
					<li><%= users.Comentarios.length%> comentarios creados</li>
					<% }%>
				</ul>
			</div>

		</div>

	</div>
</section>

<!-- Sus productos -->
<div class="container products-wrapper">
	<div class="row">

		<div class="col-12">
			<h2 class="products-title">SUS PRODUCTOS</h2>
		</div>

		<!-- Show sus productos -->
		<% if (users.Productos.length != 0) { %>

		<% for (i = 0; i < users.Productos.length; i++ ) { %>
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/products/detail/<%= users.Productos[i].id %>">
					<figure class="product-box_image">
						<img src="<%= users.Productos[i].imagen %>">
					</figure>
					<article class="product-box_data">
						<h2> <%= users.Productos[i].Nombre %> </h2>
						<p> <%= users.Productos[i].descripcion %> </p>


					</article>
				</a>
			</section>
		</div>
		<%}%> 
			<% } else { %>
		<h1 class="noproductos">El usuario no ha publicado productos hasta el día de la fecha.</h1>
		<% } %>

	</div>
</div>

<%- include("partials/footer.ejs") %>