<!--  <%- include("partials/head.ejs") %> 

	<% if (locals.user) { %>
		<%- include("partials/headerLogueado.ejs") %> 
		<% } else { %>
		<%- include("partials/header.ejs") %>  
		<% } %> 
 -->
	<!--Registrarse -->
<div class="container products-wrapper">
	<div class="row">

		<div class="col-12">
			<h2 class="products-title">Registrate</h2>
		</div> <br><br>

<!-- 	<% if(locals.errors){ %>
		<p class="alert" > <%= errors.register %><p>
	<% } %> -->

	 <!--Formulario -->

<form class="row-g-3-needs-validation" novalidate action="/register" method="POST" enctype="multipart/form-data" > 

		<div class="col-md-4">
			  <label for="validationCustom01" class="form-label">Nombre de usuario</label>
			  <input type="text" class="form-control" id="validationCustom01" name="name" placeholder="Nombre" required>
			  <div class="valid-feedback">
				Nombre de usuario válido
				</div>
			</div> <br><br>

			<div class="col-md-4" id="col-md-4">
				<label for="validationCustom04" class="form-label" id="formlabel2">Fecha de nacimiento</label> <br>
				  <input type="date" id="form-control1" id="validationCustom03"  name= "fechadenacimiento" required>
				  <div class="invalid-feedback">
					Elige una fecha de nacimiento.
				  </div>
			  </div> <br><br>

			  <div class="input-group mb-3" id="telefono">
				<label for="validationCustom03" class="form-label1">Teléfono</label><br>
					<span class="input-group-text" id="inputgroup1">+</span>
					<span class="input-group-text">54</span>
				<input type="tel" class="form-control" id="validationCustom03" name="telefono"  required>
			</div> <br>

			<div class="col-md-4">
				<label for="validationCustom01" class="form-label">Email</label>
				<input type="email" class="form-control" id="validationCustom01" name="email" placeholder="Email" required>
				<div class="valid-feedback">
				  Email válido
				  </div>
			  </div> <br><br>

			<div class="col-md-4">
			  <label for="validationCustom02" class="form-label">Contraseña</label>
			  <input type="password" class="form-control" id="validationCustom02" name="password" placeholder="Contraseña" required>
			  <div class="valid-feedback">
				Contraseña válida
			  </div> <br><br>
			</div>

			<div class="col-md-4">
				<label for="validationCustom02" class="form-label">Confirmar contraseña</label>
				<input type="password" class="form-control" id="validationCustom02" name="repassword" placeholder="Confirmar contraseña" required>
				<div class="valid-feedback">
				  Contraseña válida
				</div> <br><br>
			  </div>
			
			<div>
				<input type="file" name="avatar">
			</div>

			<div class="col-12">
			  <div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
				<label class="form-check-label" for="invalidCheck">
				Acepta términos y condiciones para registrarte.
				</label><br><br>
				<div class="invalid-feedback">
				Acepta términos y condiciones para registrarte.
				</div>
			  </div>
			</div>

			<div class="col-12">
				<button class="btn btn-primary" type="submit">
				Enviar
				</button>
			</div> 

		</form>

	</div>
</div>

<%- include("partials/footer.ejs") %> 
 