<%- include("partials/head.ejs") %> 

<% if (locals.user) { %>
	<%- include("partials/headerLogueado.ejs") %> 
	<% } else { %>
	<%- include("partials/header.ejs") %>  
	<% } %> 

	<!-- Resultados de busqueda -->
<div class="container products-wrapper">
	<div class="row">

		<div class="col-12">
			<h2 class="products-title">Resultados de búsqueda</h2>
		</div>

	<!-- Show resultado de busqueda -->
	<ul>
		<% for(let i=0; i<productos.length; i+=1) { %>
		<li>
			<a href="/products/id/<%=productos[i].id%>">
			<%=productos[i].Nombre%> 
			<%= productos[i].imagen%> 
			<%= productos[i].descripcion%> 

		</a> 
		</li>
	   <% } %>
	</ul>

<%- include("partials/footer.ejs") %> 